<!--<html><h1> 
  SHOPPER'S SHOP</h1>

  <div class="column">

      <span class="center"> User Name: </span> <input class="center" type="string" id="username">
      <br>
      <br>
      
      <span class="center">Password: </span>  <input class="center" type="string" id="pass">
      <br>
      <br>
  <div class="container">
    <div class="center">
      <button routerLink= "/login-page" 
      routerLinkactive = "active" 
      [ngStyle] = "{background: 'grey'}">
      Login
      </button>
    </div>
    </div>
<br>


    <div class="container">
      <div class="center">
        <button routerLink= "/signup-page" 
        routerLinkactive = "active" 
        [ngStyle] = "{background: 'grey'}">
        Sign Up
        </button>
      </div>
      </div>

  </div>
  
<br>
</html>-->
<app-header>

</app-header>


<router-outlet>
  
</router-outlet>
