<h1>Seller DASHBOARD!</h1><br> <br>
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Total Products in Inventory</h5>
      <p class="card-text">{{totalproducts}}</p>
    </div>
  </div>
  
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Number of items on sale</h5>
      <p class="card-text">{{itemOnSale}}</p>
    </div>
  </div>
  <br>

<h3> MENU</h3>

<button class="btn btn-primary" routerLink="../add-prod" routerLinkactive = "active"> Add Product</button><br><br>
<button class="btn btn-primary" routerLink="../view-prod" routerLinkactive = "active"> View Product</button>