
<div class="container">
    <div>
     <h1 class="text-center">Buyer Dashboard</h1>
     <h4 class="mt-10">MENU</h4>
     <button class="btn btn-primary" routerLink="../start-shop"   routerLinkactive = "active">Start Shopping</button><br> <br>
     <button class="btn btn-primary" routerLink="../cart"  routerLinkactive = "active" >Cart </button>
    </div><br>
    <div class="row">
      <span class="h5">Total number of item in cart:</span>&nbsp;
      <p class="h5">{{total_Item}}</p>
    </div>
  </div>
  